section#dashboard{clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 12vw));}
.mbr-arrow{left:91%;}
.os-color-header{opacity: 0.5;background-color: rgb(79, 73, 67);}
.os-fs-15{font-size:15px;}
.title{border-left:5px solid #efefef !important;letter-spacing:-2px;text-transform:uppercase;font-weight:400;}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active{background-color:#c0a375;border-color:#c0a375;}
.cid-rIhx4uGvhY path{stroke:#c0a375;}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active{color:#ffffff !important;background-color:#931a0d !important;border-color:#931a0d !important;}
.btn-secondary,
.btn-secondary:active{background-color:#c0a375 !important;border-color:#c0a375 !important;color:#ffffff !important;}
.cid-161019{padding-top:35px;padding-bottom:35px;}
.mbr-gallery-filter li.active .btn{background-color:#333333;border-color:#333333;color:#ffffff;}
.btn-primary-outline,
.btn-primary-outline:active{border-color:#333333;color:#333333;}
.btn-brown-outline{background:none;border-color:#c0a375;color:#c0a375;}
.btn-brown-outline:hover,
.btn-brown-outline:focus,
.btn-brown-outline.focus{color:#ffffff;background-color:#c0a375;border-color:#c0a375;}
.cid-rIhwTSUyPh .iconsBackground{background-color:#c0a375;color:#ffffff;}
.mbr-gallery-filter li.active .btn{background-color:#c0a375;border-color:#c0a375;color:#ffffff;}
.btn-primary-outline,
.btn-primary-outline:active{border-color:#efefef;color:#232323;}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active{background-color:#efefef !important;border-color:#efefef !important;}
.text-footer{color:#c0a375;font-family:Montserrat, sans-serif;font-size:3rem;font-weight:600;letter-spacing:-1px;margin-bottom:1.5625rem;}
.cid-rIhw460QP3 .media-container-row .social-list .soc-item{color:#232323;border-radius:50%;width:50px;height:50px;line-height:52px;text-align:center;border:2px solid #c0a375;}